/* Style for the search container */
.search-container {
    display: flex;
    align-items: center;
    background-color: #242143 !important;
    border: 1px solid #636279;
    border-radius: 10px;
    padding: 5px;
    width: 60vw;
    height: 2.5vh;
    outline: none;
    color: #fff !important;
  }
  
  /* Style for the search icon */
  .search-icon {
    margin-right: 10px;
    color: #333;
    height: 2.5vh;
  }
  
  /* Style for the search input */
  .search-input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: #fff;
  }
  
  .search-input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important; /* Text color */
    -webkit-box-shadow: 0 0 0 1000px #242143 inset !important; /* Background color */
  }