.time-stamps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
}

.time-stamp {
    background-color: #7f7d8b;
    padding: 1vh;
    margin: .5vh;
    width: 15vh;
    cursor: pointer;
    flex: 0 0 calc(18% - 1vh); /* Adjust the width as per your layout */
    text-align: center; /* Center-align the text */
}

.time-stamp:hover {
    background-color: #3e3b56;
    color: #ff4e3a;
}
